@font-face {
    font-family: "Baloo";
    src: url("../src/font/Baloo-Regular.ttf");
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

#main_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
    background-color: white;
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 2em;
}

body {
    text-align: center;
    background-color: #0047AB;
    /* color: black; */
    color: #0047AB;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#username {
    display: none;
}

#back p  {
    font-size: 1vw;

}

#back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hide,
#imgSound,
.sound-inner,
.sound,
#guessLabel,
#guess,
#confirm {
    display: none;
}

#imgSound{
    border-radius: 1em;
    border: 2px solid black;
}
h1 {
    font-family: 'Baloo';
}

h2 {
    font-family: 'Baloo';
}

#timer {
    font-family: 'Baloo';
}

#guessLabel {
    font-family: 'Baloo';
}
#result{
    font-family: 'Baloo';
}
#guess{
    border-radius: 1em;
    border-color: black;
    color: #0047AB;
}


#commands {
    display: flex;
    justify-content: center;
}

#guess {
    height: 3em;
    color: #00247d;
    /* color: black; */
}


#confirm {
    align-items: center;
    justify-content: center;
    background-color: #0047AB;
    color: #F8F8FF;
    font-family: 'Baloo';
    border-color: darkred;
    box-shadow: black;
    font-size: 1vw;
}
#confirm::before {
    background: #5175e9;
}


#confirm,
#guess {
    margin: auto;
    font-family: 'Baloo';
}

.sound {
    background-color: transparent;
    width: 20vw;
    height: 20vw;
    perspective: 1000px;
    position: relative;
    /* margin: auto; */
}

.sound-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    vertical-align: middle;
    display: none;
}


/*Positionne le devant et le dos de la flashcard */
.sound-front{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


#score {
    display: none;
    padding: 5px;
    background-color: white;
    border-radius: 1em;
    position: absolute;
    top: 3em;
    left: 3em;
    font-size: x-large;
    font-family: 'Baloo';
    margin-bottom: 1em;
}

/* Règles */
#container_rule {
    height: 70vh;
    width: 80vw;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex: 0 0 auto;
    background-color: #F8F8FF;


}

#container_rule h1 {
    color: #0047AB;
    font-family: 'Baloo';
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

#container_rule p {
    color: #0047AB;
    font-family: 'Baloo';
    display: flex;
    font-size: 30px;
}

#container_rule #p1_rules {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

#rule_button {
    display: flex;
    flex: 0 0 auto;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    background-color: #0047AB;
    color: #F8F8FF;
    font-family: 'Baloo';
    border-color: darkred;
    box-shadow: black;
    font-size: 1vw;
}

#rule_button::before {
    background: #5175e9;
}

#come_back_button{
    display:flex;
    flex: 0 0 auto;
    position: absolute;
    top: 85%; left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    background-color: #F8F8FF;
    color : #0047AB;
    font-family: 'Baloo';
    font-size: 1vw;
    border-color: darkred;
    box-shadow : black;
}
#come_back_button::before{
    background: #d9d9d9;
}

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;

    font-weight: 700;
    text-transform: uppercase;
}

button.big-button{
    padding: 1em 2em;
    border-radius: 1em;
    transform-style: preserve-3d;
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

button.big-button::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    /*box-shadow: 0 0 0 2px var(--colorShadeB);*/
    transform: translate3d(0, 0.5em, -1em);
    transition: all 200ms cubic-bezier(0, 0, 1, 1);
}

button.big-button:active{
    transform: translate(0em, 0.48em);
}

button.big-button:active::before{
    transform: translate3d(0, 0, -1em);

    /*box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB)*/
;
}

#retour {
    font-family: "Baloo";
    color: #f8f8ff;
    font-size: 3vh;
    cursor: pointer;
    position: absolute;
    top: 5%; left: 5%;
    transform: translate(-50%, -50%);
}

.loader {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 0;
    height: 100vh;
    transition: width 0s 1.4s ease;
}

.loader .loader__icon {
    position: absolute;
    z-index: 1;

    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.loader .loader__icon svg {
    transform-origin: 0 0;
}

.loader .loader__tile {
    position: absolute;
    left: 0;
    width: 0;
    height: 20%;
    background-color: #D40000;
    transition: width 0.7s ease;
}

.loader .loader__tile:nth-child(0) {
    top: calc(-1 * 20%);
    transition-delay: -0.2s;
}

.loader .loader__tile:nth-child(1) {
    top: calc(0 * 20%);
    transition-delay: 0s;
}

.loader .loader__tile:nth-child(2) {
    top: calc(1 * 20%);
    transition-delay: 0.2s;
}

.loader .loader__tile:nth-child(3) {
    top: calc(2 * 20%);
    transition-delay: 0.4s;
}

.loader .loader__tile:nth-child(4) {
    top: calc(3 * 20%);
    transition-delay: 0.6s;
}

.loader .loader__tile:nth-child(5) {
    top: calc(4 * 20%);
    transition-delay: 0.8s;
}

.loader--active {
    width: 100%;
    transition-delay: 0s;
}

.loader--active .loader__icon {
    opacity: 1;
    transition: opacity 0.5s 1.4s ease;
}

.loader--active .loader__tile {
    width: 100%;
}

.loader--active .loader__tile:nth-child(0) {
    transition-delay: -0.2s;
}

.loader--active .loader__tile:nth-child(1) {
    transition-delay: 0s;
}

.loader--active .loader__tile:nth-child(2) {
    transition-delay: 0.2s;
}

.loader--active .loader__tile:nth-child(3) {
    transition-delay: 0.4s;
}

.loader--active .loader__tile:nth-child(4) {
    transition-delay: 0.6s;
}

.loader--active .loader__tile:nth-child(5) {
    transition-delay: 0.8s;
}


#container_win{
    height: 70vh;
    width: 80vw;
    border-radius: 25px;
    position: absolute;
    font-family: 'Baloo';
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);  display: none;
    flex: 0 0 auto;
    background: rgba(0, 0, 0, 0.8); /*******************************/
}
#rating_star{
    position: absolute;
    display: flex;
    top: 35%; left: 50%;
    transform: translate(-50%, -50%);
}
.star {
    margin: 5px;
    height: auto;
    width: 3vw;
    filter: brightness(100);
}

.allumer{
    filter: brightness(1);
}

#container_win h1{
    color : #F8F8FF;
    font-size: 50px;
    position: absolute;
    top: 15%; left: 50%;
    transform: translate(-50%, -50%);  display: flex;
    align-items: center;
    justify-content: center;
}
.para_win{
    color : #F8F8FF;
    font-size: 15px;
    display: flex;
}
#container_win #p1_win{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);  display: flex;
}
#container_win #p2_win{
    position: absolute;
    top: 60%; left: 50%;
    transform: translate(-50%, -50%);  display: flex;
}

#container_leaderboard{
    display: none;
}
#tab_leaderboard{
    color : #F8F8FF;
    font-family: 'Baloo';
    font-size: 30px;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);  display: flex;
    justify-content: center;
    align-items: baseline;
    border: solid 3px #F8F8FF;
    border-radius: 20px;
    height: 70%;
    width: 50%;
    background: rgba(0, 0, 0, 0.8);

}
#tab_leaderboard th {
    text-align: center;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;

}
#tab_leaderboard tr {
    position: relative;
    top: 2%;
}
#rang_perso_scoreboard{
    color: #D40000;
}
#trois_points_scoreboard{
    position: relative;
    left: 40%;
}
#tab_leaderboard td {text-align: center;}
#container_leaderboard_title{
    color : #F8F8FF;
    font-family: 'Baloo';
    font-size: 50px;
    position: absolute;
    top: 6%; left: 50%;
    transform: translate(-50%, -50%);  display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

#restart_button{
    display:flex;
    flex: 0 0 auto;
    position: absolute;
    top: 90%; left: 58%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    background-color: #F8F8FF;
    color : #0047AB;
    font-family: 'Baloo';
    font-size: 1vw;
    border-color: darkred;
    box-shadow : black;
}
#restart_button::before{
    background: #d9d9d9;
}
#returnGameButton{
    display:flex;
    flex: 0 0 auto;
    position: absolute;
    font-family: 'Baloo';
    top: 90%; left: 42%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    background-color: #F8F8FF;
    color : #0047AB;
    font-size: 1vw;
    border-color: darkred;
    box-shadow : black;
}
#returnGameButton::before{
    background: #d9d9d9;
}
#classement_button{
    display:flex;
    flex: 0 0 auto;
    position: absolute;
    font-family: 'Baloo';
    top: 75%; left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    background-color: #F8F8FF;
    color : #0047AB;
    font-size: 1vw;
    border-color: darkred;
    box-shadow : black;
}
#classement_button::before{
    background: #d9d9d9;
}

@media screen and (max-width:1000px){
    #container_rule p{
        font-size: 4vw;
        font-family: 'Baloo';
    }

    h1 {
        font-size: 6vw;
    }

    h2 {
        font-size: 5vw;
    }
    #score{
        font-size: 4vw;
    }
    #timer {
        font-size: 3vw;
    }

    #guessLabel {
        font-size: 5vw;
    }
    #confirm, #guess {
        font-size: 3vw;
    }

    #rule_button, #confirm {
        font-size: 3vw;
    }

    .sound, .sound-inner {
        width: 65vw;
        height: 65vw;
        font-size: 1vw;
        /* margin: auto; */
    }



    #result {
        font-size: 4vw;
    }
    #container_win h1{
        color : #F8F8FF;
        font-family: 'Baloo';
        font-size: 7vw;
        position: absolute;
        top: 15%; left: 50%;
        transform: translate(-50%, -50%);  display: flex;
        align-items: center;
        justify-content: center;
    }
    #restart_button{
        display:flex;
        flex: 0 0 auto;
        position: absolute;
        top: 98%; left: 66%;
        transform: translate(-50%, -50%);
        align-items: center;
        justify-content: center;
        font-family: 'Baloo';
        font-size: 3vw;
        border-color: darkred;
        box-shadow : black;
    }
    #returnGameButton{
        display:flex;
        flex: 0 0 auto;
        position: absolute;
        top: 98%; left: 34%;
        transform: translate(-50%, -50%);
        align-items: center;
        justify-content: center;
        font-family: 'Baloo';
        font-size: 3vw;
        border-color: darkred;
        box-shadow : black;
    }
    #classement_button{
        display:flex;
        flex: 0 0 auto;
        position: absolute;
        top: 87%; left: 50%;
        transform: translate(-50%, -50%);
        align-items: center;
        justify-content: center;
        font-family: 'Baloo';
        font-size: 3vw;
        border-color: darkred;
        box-shadow : black;
    }
    #tab_leaderboard{
        color : #F8F8FF;
        font-family: 'Baloo';
        font-size: 5vw;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);  display: flex;
        justify-content: center;
        align-items: baseline;
        border: solid 3px #F8F8FF;
        border-radius: 20px;
        height: 70%;
        width: 80%;

    }
    #come_back_button{
        font-size: 3vw;
    }
    #tab_leaderboard th {
        text-align: center;
        padding: 10px;
    }

    .star {
        height: auto;
        width: 8vw;
    }

    #p1_win, #p2_win {
        font-size: 4vw;
    }

    #container_leaderboard_title {
        font-size: 10vw;
    }
}